<div class="row">
<% counter.each_with_index do |name, index| %>

<div class="col-lg-4">
  <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
  <h2><%= name %></h2>
  <p><%= index + 1 %></p>
  <p><%= html %></p>
</div>

<% end %>

</div>

<hr class="featurette-divider">
